# path to store files
STORAGE_PATH=./person_data
# Your server URLs
SERVER_URL=https://your-server.com
FILE_SERVER_URL=https://files.your-server.com
# Protect the endpoints with a secret token
LC_MASK_HEADER_NAME=X-Cloud-Proxy
LC_MASK_HEADER_VALUE=MySecretToken123